<!DOCTYPE html>
<html layout:decorator="admin/template">
<head>
<meta charset="UTF-8">
<title>users</title>
</head>
<body layout:fragment="content" th:remove="tag">
	<h1>Them Nguoi Dung</h1>
	<form th:action="@{/user/add}" method="post">
		<div>
			<label>Username</label><input type="text" name="username" placeholder="username" required="required" />
		</div>
		<div>
			<label>Password</label><input type="password" name="password" placeholder="password" required="required" />
		</div>
		<div>
			<label>Role</label> <select name="role">
				<option value="ROLE_FREE_MEMBER">ROLE_FREE_MEMBER</option>
				<option value="ROLE_PREMIUM_MEMBER">ROLE_PREMIUM_MEMBER</option>
			</select>
		</div>
		<div>
			<button type="submit">ADD</button>
		</div>
	</form>
</body>
</html>