<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Result</title>
    <link rel="stylesheet"
          href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Logout">
</form>
<p th:if="${info} == 'not-premium'" >Upgrade to Premium Member now!!!</p>
<div>
    <h1>LIST OF BOOKS</h1>
    <form th:action="@{/user/book}" method="get">
        <input type="submit" value="PUBLIC ENEMY">
    </form>
</div>
</body>
</html>