<!DOCTYPE html>
<html layout:decorator="admin/template">
<head>
<meta charset="UTF-8">
<title>users</title>
</head>
<body layout:fragment="content" th:remove="tag">
	<p>Danh sach users</p>
	<a th:href="@{/user/add}">Add User</a>
	<table border="1">
		<tr>
			<td>Id</td>
			<td>Name</td>
			<td>Age</td>
			<td>Email</td>
			<td>Role</td>
			<td>Username</td>
			<td>Enable</td>
			<td>Gender</td>
			<td>Address</td>
			<td>PhoneList</td>
			<td>Option</td>
		</tr>
		<tr th:each="user:${userList}">
			<td th:text="${user.id}"></td>
			<td th:text="${user.role}"></td>
			<td th:text="${user.username}"></td>
			<td><a th:href="@{'/user/update?id='+${user.id}}">Edit</a> | <a
				th:href="@{'/user/delete?id='+${user.id}}">Delete</a></td>
		</tr>
	</table>

</body>
</html>