<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>User List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div th:replace="common/header :: header"></div>
<h3>User Grade Table</h3>
<table>
    <table>
        <tr>
            <th>User Name</th>
            <th>User Password</th>
            <th>User Grade</th>
            <th>User Email</th>
        </tr>
        <tr th:each="user: ${user}">
            <td th:text="${user.name}"></td>
            <td th:text="${user.password}"></td>
            <td th:text="${user.grade}"></td>
            <td th:text="${user.email}"></td>
        <tr>
    </table>
</table>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>